body{
font-family:Arial;
background:#eef6ee;
text-align:center;
padding:20px;
}

h1{
color:#2e7d32;
}

button{
padding:15px;
margin:10px;
font-size:18px;
width:220px;
border:none;
border-radius:12px;
background:#4CAF50;
color:white;
}

button:hover{
background:#3e8e41;
}

.section{
display:none;
margin-top:20px;
}

ul{
text-align:left;
max-width:400px;
margin:auto;
}
